.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2vw;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 10vh;
  position: relative;
}

.navbar-left, .navbar-right {
  position: absolute;
}

.navbar-left {
  left: 2vw;
  display: flex;
  align-items: center;
}

.navbar-right {
  right: 2vw;
  display: flex;
  align-items: center;
}

.app-logo {
  width: 3vw;
  height: auto;
}

.app-name {
  font-size: 1.2vw;
  font-family: "Outfit", sans-serif;
  color: rgb(190, 22, 190);
  margin-left: 1vw;
}

.search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-bar input {
  padding: 1vh 1vw;
  width: 30vw;
  max-width: 500px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: "Poppins", sans-serif;
}

.navbar-right .user-info {
  display: flex;
  align-items: center;
}

.navbar-right .username, .navbar-right .role {
  font-family: "Poppins", sans-serif;
  margin-right: 10px;
}

.logout-button {
  padding: 0.5vh 1vw;
  background-color: rgb(190, 22, 190);
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: rgb(143, 25, 143);
}
