/* Navbar container */
.navbar-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Logo and app name */
.navbar-left {
  display: flex;
  align-items: center;
}

.app-logo {
  width: 7rem;
  height: auto;
  margin-right: 1rem;
}

.app-name {
  font-size: 1.2rem;
  font-family: "Outfit", sans-serif;
  color: rgb(190, 22, 190);
}

/* Search bar */
.search-bar {
  flex-grow: 1;
  margin: 0 2rem;
}

.search-bar input {
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: "Poppins", sans-serif;
}

/* User info and logout button */
.navbar-right {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.username,
.role {
  font-family: "Poppins", sans-serif;
  margin-right: 0.5rem;
}

.logout-button {
  padding: 0.5rem 1rem;
  background-color: rgb(190, 22, 190);
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: rgb(143, 25, 143);
}

/* Tab content */
.tab-content {
  position: absolute;
  top: calc(100% + 10px); /* Adjust the distance from the navbar */
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure it's above other content */
  border-radius: 5px; /* Add border radius to match navbar */
}

/* Styling for user info tab */
.user-info-tab {
  padding: 0.5rem 1rem;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  margin-right: 1rem;
}


