.chatbot-button {
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    border-radius: 50%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s; /* Smooth hover effect */
}

.chatbot-button:hover {
    transform: scale(1.1); /* Slightly increase size on hover */
}

.chatbot-logo {
    height: 100px;
    width: 100px;
}

/* Blinking Effect */
.blink {
    animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
    50% {
        opacity: 0.5;
    }
}
